@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #1c1c1c;
  --clr-gray: #ececec;
  --clr-white: #f7f7f7;
  --type-normal: #a8a878;
  --type-fire: #f08030;
  --type-water: #6890f0;
  --type-grass: #78c850;
  --type-electric: #f8d030;
  --type-ice: #98d8d8;
  --type-fighting: #c03028;
  --type-poison: #a040a0;
  --type-ground: #e0c068;
  --type-flying: #a890f0;
  --type-psychic: #f85888;
  --type-bug: #a8b820;
  --type-rock: #b8a038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038f8;
  --type-steel: #b8b8d0;
  --type-fairy: #f0b6bc;
}

/*Identificar colores segun tipo de pokemon */
.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.fire {
  background-color: var(--type-fire);
  color: var(--clr-black);
}

.water {
  background-color: var(--type-water);
  color: var(--clr-black);
}

.grass {
  background-color: var(--type-grass);
  color: var(--clr-black);
}

.electric {
  background-color: var(--type-electric);
  color: var(--clr-black);
}

.ice {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.fighting {
  background-color: var(--type-fighting);
  color: var(--clr-black);
}

.poison {
  background-color: var(--type-poison);
  color: var(--clr-black);
}

.ground {
  background-color: var(--type-ground);
  color: var(--clr-black);
}

.flying {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.psychic {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.flying {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.bug {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.rock {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.ghost {
  background-color: var(--type-ghost);
  color: var(--clr-black);
}

.dark {
  background-color: var(--type-dark);
  color: var(--clr-black);
}

.dragon {
  background-color: var(--type-dragon);
  color: var(--clr-black);
}

.steel {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.fairy {
  background-color: var(--type-fairy);
  color: var(--clr-black);
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 0 80%;
}
nav .pokedex-search {
  background: rgb(23, 32, 48);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-block: 0.5rem;
}
nav .pokedex-search .poke-search {
  border-color: blue;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
nav .pokedex-search .poke-search .buttonSearch {
  background-color: transparent;
  border: none;
}
nav .pokedex-search .poke-search .buttonSearch .pokemon-search-logo {
  width: 50px;
}
nav .pokedex-search .poke-search input {
  height: 30px;
  width: 100%;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

#pagination {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding-bottom: 20px;
}
#pagination #prev-btn {
  padding: 5px 40px;
  background-color: var(--clr-white);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  border: 1px solid var(--clr-gray);
}
#pagination #next-btn {
  padding: 5px 40px;
  background-color: var(--clr-white);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  border: 1px solid var(--clr-gray);
}

.allPoke {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.btn-pokemons {
  border-radius: 1rem;
  cursor: pointer;
}

.pokemon-card {
  background-color: var(--clr-white);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  padding-block: 1rem;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border: 1px solid var(--clr-gray);
  margin: 0.5rem;
}

.pokemon-card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.pokemon-id-back {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  font-weight: 800;
  color: var(--clr-gray);
  z-index: -1;
}

.pokemon-img {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.pokemon-img img {
  width: 100%;
  max-width: 6rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  justify-content: center;
}

.pokemon-id {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
  font-size: 0.75rem;
  font-weight: 500;
}

.pokemon-name {
  font-size: 1.4rem;
}

.pokemons-type {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}

.type {
  border-radius: 100vmax;
  padding: 0.25rem 0.5rem;
}

/* Ejemplo de estilos CSS para los tipos de Pokémon */
.pokemons-type-container {
  display: flex;
  justify-content: center;
}

.pokemons-type-container .pokemons-type {
  padding: 0.4rem;
  border-radius: 200px;
  margin-right: 8px;
}

/* Agregar estilos para los demás tipos de Pokémon */
@media screen and (min-width: 480px) {
  .allPoke {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 700px) {
  .allPoke {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/*# sourceMappingURL=styles.css.map */
