nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 0 80%;
  .pokedex-search {
    background: rgb(23, 32, 48);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-block: 0.5rem;
    .poke-search {
      border-color: blue;
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      .buttonSearch {
        background-color: transparent;
        border: none;
        .pokemon-search-logo {
          width: 50px;
        }
      }

      input {
        height: 30px;
        width: 100%;
        margin-right: 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

.nav-list {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin-top: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 2rem;
  .nav-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .btn-header {
      padding: 0.5rem;
      border-radius: 100vmax;
      border: var(--clr-gray);
      cursor: pointer;
      font-weight: 500;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
      text-transform: uppercase;
    }
    .btn-header:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transition: 0.5s;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    background-size: auto;
    background-position: 0 80%;
    .pokemon-logo {
      width: 100%;
    }
  }
}
